#header {	
	text-align: center;
	display:table;
    border-collapse:collapse;
    width:100%;
    height: 60px;
    background-color: #FFF;
}

#header div {
	display:table-cell;
}

#ukLogo {
	width: 80px;
	padding-top: 5px;
	height: 100%;
}

#ukLogo img {
	width: 100%;
}

#pageTitle {
	vertical-align: middle;
	font-size: 1.5em;

	background-image: url(../assets/images/header/Unnamed%20QQ%20Screenshot20140623113706.png);
	background-repeat: repeat;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color: #FFF;
	font-variant: normal;
	font-weight: bold;
}